.keyboard {
    position: fixed;/*要素の位置を固定します。スクロールしても要素は画面上の同じ位置に留まります。*/
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;/* ユーザーが要素のテキストを選択できないようにします。*/
    transition: bottom 0.4s;/*bottomプロパティの変化を0.4秒かけてアニメーション化します。これにより、bottomプロパティが変更されたときに滑らかな遷移が得られます*/
}

.keyboard--hidden {/*"keyboard--hidden"クラスを要素に適用すると、その要素は画面下部から完全に隠れ、ユーザーがキーボードを閉じると要素が再び表示されることになります。この方法はユーザーエクスペリエンスを向上させるためによく使用されます。*/
    bottom: -100%;
}
