* {
    box-sizing: border-box;
    
  }
  
h1,h2,h3,h4,h5,h6,p,a,li {/*これは行間の高さを設定しています。行間はテキストの行ごとの垂直間隔です。1.2は行の高さをフォントサイズの1.2倍に設定し、行がテキストの読みやすさを向上させる役割を果たします。*/
  line-height: 1.2;
  font-family: 'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','æ¸¸æ˜Žæœä½“',sans-serif;
}

a:hover {/*a:hover: このセレクタは、<a>要素がマウスホバーされたときのスタイルを適用するために使用されます。つまり、ユーザーがリンクにマウスカーソルを重ねたときにこのスタイルが有効になります。   */
  opacity: .5;/* ウスホバー時、リンクの不透明度（透明度）を0.5に設定します。これにより、リンクが半透明になり、元の不透明度（通常は1）の半分の透明度となります。*/
  transition: .3s;
}

/*------------------------------------------------------------------------------*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .main {
    text-align: center; /* 中央揃え */
    padding: 20px;
    max-width: 400px; /* 必要に応じて最大幅を設定 */
  }
  

  .box {
    color: #ffffff; /* 文字色を白に設定 */
    width: 300px; /* ボックスの幅 */
    height: 300px; /* ボックスの高さ */
    border: 1px solid black; /* 枠線の色と太さ */
    background-color: #3d3636; /* ボックスの背景色 */
    margin: 0 auto; /* ボックスをページの中央に配置 */
  }
  
  #displayBox {
    /* その他のスタイル設定 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .input-container {
    margin: 10px; /* 適切な余白の値を指定してください */
  }
  

  button {
    margin-right: 20px; /* ボタン間のスペースを設定 */
}










  /*box-sizing: border-box; は、ウェブページの全要素に対してボックスモデルの計算方法を設定するCSSプロパティです。

通常、HTML要素のサイズは、コンテンツの幅や高さだけでなく、ボーダーやパディング、マージンなどの追加の領域を含んだものとして計算されます。box-sizing プロパティを border-box に設定することで、要素のサイズがコンテンツボックスからボーダーボックスまでを含めたサイズとして解釈されます。

具体的には：

content-box: デフォルトの値で、要素のサイズはコンテンツの幅や高さだけを指定します。追加のボーダーやパディングは要素のサイズに追加されます。

border-box: 要素のサイズがコンテンツボックスからボーダーボックスまでを含めたサイズとして解釈されます。つまり、コンテンツ、パディング、ボーダーが要素のサイズとして設定され、マージンは含まれません。

これにより、要素のサイズ指定をより直感的に行うことができます。たとえば、指定した幅や高さが、実際の表示されるサイズと一致するようになります。*/


/*
CSSでは、#と.は異なる種類の要素を選択するために使用されます12。

#はIDセレクタを表します。これはHTMLのid属性を指定します。例えば、#displayBoxはHTML内のid="displayBox"という属性を持つ要素を選択します12。

.はクラスセレクタを表します。これはHTMLのclass属性を指定します。例えば、.boxはHTML内のclass="box"という属性を持つすべての要素を選択します12。

したがって、.displayBoxと#displayBoxは異なる要素を選択します。前者はclass="displayBox"を持つ要素を選択し、後者はid="displayBox"を持つ要素を選択します12。12。
*/