* {
    box-sizing: border-box;
    
  }
  
h1,h2,h3,h4,h5,h6,p,a,li {/*これは行間の高さを設定しています。行間はテキストの行ごとの垂直間隔です。1.2は行の高さをフォントサイズの1.2倍に設定し、行がテキストの読みやすさを向上させる役割を果たします。*/
  line-height: 1.2;
  font-family: 'ãƒ’ãƒ©ã‚®ãƒŽæ˜Žæœ ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','æ¸¸æ˜Žæœä½“',sans-serif;
}

a:hover {/*a:hover: このセレクタは、<a>要素がマウスホバーされたときのスタイルを適用するために使用されます。つまり、ユーザーがリンクにマウスカーソルを重ねたときにこのスタイルが有効になります。   */
  opacity: .5;/* ウスホバー時、リンクの不透明度（透明度）を0.5に設定します。これにより、リンクが半透明になり、元の不透明度（通常は1）の半分の透明度となります。*/
  transition: .3s;
}

/*------------------------------------------------------------------------------*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .main {
    text-align: center; /* 中央揃え */
    border: 1px solid #ccc; /* ボーダーがある場合、中央配置により要素を中央に配置します。 */
    padding: 20px;
    max-width: 400px; /* 必要に応じて最大幅を設定 */
  }
  
  .input-container {
    margin: 10px; /* 適切な余白の値を指定してください */
  }
  

  button {
    margin-right: 20px; /* ボタン間のスペースを設定 */
}










  /*box-sizing: border-box; は、ウェブページの全要素に対してボックスモデルの計算方法を設定するCSSプロパティです。

通常、HTML要素のサイズは、コンテンツの幅や高さだけでなく、ボーダーやパディング、マージンなどの追加の領域を含んだものとして計算されます。box-sizing プロパティを border-box に設定することで、要素のサイズがコンテンツボックスからボーダーボックスまでを含めたサイズとして解釈されます。

具体的には：

content-box: デフォルトの値で、要素のサイズはコンテンツの幅や高さだけを指定します。追加のボーダーやパディングは要素のサイズに追加されます。

border-box: 要素のサイズがコンテンツボックスからボーダーボックスまでを含めたサイズとして解釈されます。つまり、コンテンツ、パディング、ボーダーが要素のサイズとして設定され、マージンは含まれません。

これにより、要素のサイズ指定をより直感的に行うことができます。たとえば、指定した幅や高さが、実際の表示されるサイズと一致するようになります。*/